.title {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
    font-size: 95px;
    font-weight: 800;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media(max-width:765px) {
    .title {
        font-size: 60px;
    }
}